*{
    margin: 0;
    padding: 0;
}

.HistoryContent{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.HistoryConteiner{
    color: white;
    width: 50%;
    height: 100%;
    border: 3px solid rgb(70, 108, 151);
    border-radius: 10px;
    
}

.HistoryBackButton {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
}

.HistoryBackButton button{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: medium;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}


.HistoryBackButton button:hover{
    display: flex;
    background: rgb(57, 74, 97);
    transform: translate(30px);
}
