*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:Pacifico-Regular;
    src: url(../font/Pacifico-Regular.ttf);
}

@font-face {
    font-family:Jomhuria;
    src: url(../font/Jomhuria-Regular.ttf);
}

                        /*-----------------Header-----------------*/
.headerContainer{
    width: 100%;
    height: 120px;
    background-color: #232a3b;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navLogo{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    display:flex ;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    list-style: none;
    display: flex;
} 

.navigation li{
    margin-left: 10px;
}

                        /*-----------------Content-----------------*/


.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2430;
    color: white;
}

.contentContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}

.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family:Pacifico-Regular;
}

.Inputfield{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Inputfield input{
    border: none;
	border-bottom: 2px solid #D7C526;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	transition: .2s;
	font-family: Raleway, sans-serif;
    font-size: medium;
    outline: none;
    color: white;
    padding: 0;
    width:100%;
    margin-bottom: 20px;
    
}

.saveButton{
    display: flex;
    width: 100%;
    justify-content: end;
}

.saveButton button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    border: none;
    box-shadow:0px 4px 1px 0px #1a1a1a;
    width: 20%;
    height: 90px;
    background: #212835;
    cursor: pointer;
    font-family:Jomhuria;
    font-size: 80px;
    transition-duration: 0.4s;
}

.saveButton button:hover{
    background-color: #27303f;
    transform: scale(1.1,1.1);
    transition-duration: 0.4s;
}